.container {
  max-width: 125rem;
  height: 18rem;
  margin: auto;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .connect {
    margin-left: auto;
  }
}
