.container {
  position: relative;

  margin: 40px;
  transition: all 0.2s;

  .image {
    position: relative;
    width: 181px;
    height: 181px;
    padding: 78px 59px 77px 58px;
    border-radius: 20px;
    overflow: hidden;
  }

  .name {
    font-size: 26px;
    font-weight: bold;
    padding: 20px 0;
  }

  &:hover,
  &:active {
    transform: scale(1.1);

    .image {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .name {
      text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
  }
}
