$color-dark-grey: #212529;

.container {
  position: relative;

  .button {
    position: relative;
    top: 0;
    background-color: #fff;
    padding: 1rem 2rem;
    border: 2px solid currentColor;
    border-radius: 100px;
    color: $color-dark-grey;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
    transition: top 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      top: -1px;
    }

    &:active {
      top: 1px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    &.black {
      background-color: $color-dark-grey;
      border-color: $color-dark-grey;
      color: #fff;

      &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        border-bottom-color: $color-dark-grey;
      }
      &:active {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid $color-dark-grey;
      }
    }
  }

  .red {
    background-color: red;
    color: #fff;
  }

  .borderless {
    border: none;
  }

  .disabled {
    cursor: not-allowed;
    background-color: var(--gray-darker);

    &:hover {
      top: 0;
      box-shadow: none;
    }
  }

  .sm {
    font-size: 1.2rem;
    height: 3.5rem;
  }
}

.w200 {
  width: 200px;
}

.w100p {
  width: 100%;
}