.container {
  width: 77px;
  height: 77px;
  border-radius: 10px;
  overflow: hidden;
  .link {
    &:link,
    &:visited {
      transition: all 0.5s;
      display: inline-block;
    }

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
}
