$color-dark-grey: #212529;
.container {
  padding: 0 2rem;
  position: relative;
  padding: 1rem 5px;
  margin: auto;
  color: $color-dark-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
